
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Index</h2>


<form method="post">

    <input name="ReceiverAccountNumber" placeholder="Hesap Numarası" type="text"/>
    <input name="Amount" placeholder="Tutar" type="text"/>
    <button type="submit">Gönder</button>
</form>

